/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.text-total {
  display: block;
}
.total {
  font-size: 20px;
}

.details > li {
  margin-bottom: 5px;
}
.details > li > span {
  text-transform: uppercase;
  color: #3e3e3e;
  font-weight: 500;
  display: block;
  font-size: 12px;
}
